.recipes {
  position: relative;
}

.recipes__content {
  background-color: $white;
  border-radius: 0.1rem;
  box-shadow: 0 0 15px 1px rgba(0, 0, 0, 0.1);
  @media(max-width: $md) {
    max-height: 65vh;
    overflow: auto;
  }
}

.recipes__list {
  list-style: none;
}

.recipes__empty {
  margin: 0;
  padding: 1rem 2rem;
}

.recipes__add {
  display: block;
  margin: 2rem auto;
}
