.recipe {
  border-bottom: 1px solid $gray;
  &:last-of-type {
    border: none;
  }
}

.recipe__bar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  cursor: pointer;
  padding: 0.35rem 2rem;
  transition: background-color 0.2s ease-in-out;
  &.active {
    background-color: $brown;
    .recipe__arrow {
      transform: rotate(180deg);
    }
  }
}

.recipe__title {
  font-weight: $font-semi-bold;
  font-size: 1rem;
  margin-right: 1rem;
}

.recipe__arrow {
  display: block;
  height: 1rem;
  width: auto;
  transition: transform 0.25s ease-in-out;
}

.recipe__ingredients {
  padding: 1rem 2rem 2rem;
}

.recipe__ingredients-title {
  text-align: center;
  font-weight: $font-semi-bold;
  font-size: 1rem;
  margin-bottom: 1rem;
}

.recipe__ingredients-list {
  max-width: 300px;
  padding: 0;
  margin: 0 auto;
  list-style: none;
  text-align: center;
  li {
    margin: 0.25rem 0;
  }
}

.recipe__ingredients-buttons {
  display: flex;
  justify-content: center;
  margin-top: 2rem;
  button {
    display: block;
    margin: 0 0.5rem;
    font-size: 0.8rem;
  }
}
