.modal__form {
  padding: 1rem 0;
  .form__label {
    display: block;
    margin-bottom: 0.5rem;
    font-weight: $font-semi-bold;
  }
  .form__row {
    width: 100%;
    margin-bottom: 1.5rem;
    input,
    textarea {
      width: 100%;
      padding: 0.7rem 1rem;
      border: 1px solid $black;
    }
  }
  .form__errors {
    color: $red;
    margin-top: 0.5rem;
    font-size: 0.8rem;
  }
  .form__buttons {
    display: flex;
    justify-content: center;
    border-top: 1px solid $gray;
    margin-top: 2rem;
    padding: 1rem 0;
    button {
      margin: 0 1rem;
    }
    span {
      text-transform: capitalize;
    }
  }
}
