.modal {
  position: fixed;
  z-index: 1;
  left: 0;
  top: 0;
  width: 100vw;
  height: 100vh;
  background-color: rgba(0, 0, 0, 0.75);
  display: flex;
  justify-content: center;
  align-items: center;
  animation: fadeIn 0.3s;
}

.modal__content {
  background-color: $white;
  border-radius: 0.1rem;
  width: 100%;
  max-width: 700px;
  min-height: 50vh;
}

.modal__top {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0.25rem 1rem;
  border-bottom: 1px solid $gray;
}

.modal__name {
  font-weight: $font-bold;
  span {
    text-transform: capitalize;
  }
}

.modal__close {
  display: block;
  height: 1rem;
  width: auto;
  cursor: pointer;
}

.modal__body {
  padding: 0.5rem 1rem;
}
