.button {
  background-color: $gray;
  border-radius: 0.1rem;
  cursor: pointer;
  border: none;
  outline: none;
  padding: 0.75rem 1.5rem;
  letter-spacing: 1px;
  text-align: center;
  font-size: 0.9rem;
  @media (max-width: $sm) {
    width: 100%;
    padding: 1rem;
  }
  &--primary {
    color: $white;
    background-color: $black;
  }
  &--secondary {
    color: $black;
    background-color: transparent;
    border: 1px solid $black;
  }
  &--warning {
    background-color: $red;
    color: $white;
  }
}
