body {
  margin: 0;
  font-family: $font-primary;
  font-weight: $font-regular;
  background-color: $gray;
  color: $black;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  padding-top: 6rem;
}

.container {
  width: 90%;
  max-width: 1140px;
  margin: 0 auto;
}

textarea, input, button, select {
  font-family: inherit;
  font-size: inherit;
  outline: none;
  box-sizing: border-box;
}
