.nav {
  padding: 0.5rem 0;
  position: fixed;
  left: 0;
  top: 0;
  width: 100%;
  background-color: $white;
}

.nav__content {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.nav__logo {
  display: block;
  height: 2rem;
  width: auto;
}

.nav__title {
  font-size: 1rem;
  font-weight: $font-semi-bold;
}
